VITE_SUPABASE_URL=https://khqvffquritcnznusfcp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtocXZmZnF1cml0Y256bnVzZmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTUyODUsImV4cCI6MjA4NzY5MTI4NX0.PNkqYM41fpff_Dr6h-9nnZyEDnlLMijsRaFlv7Aei9A
VITE_WELCOME_EMAIL_WEBHOOK_URL=https://YOUR_WEBHOOK_ENDPOINT
VITE_PCB_WORKSPACE_ACCESS_VIDEO_URL=https://image2url.com/r2/default/videos/1772004985663-f0a926d8-f6d7-4317-9923-883f49c38eda.mp4
VITE_SUPPORT_EMAIL=spaceroboticscreations@outlook.com
